.button {
    -fx-font: 13 Helvetica;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-color: #323232;
    -fx-text-fill: #ffffff;
}


#buttonFocused{
    -fx-focus-color: transparent;
    -fx-background-color: #1D1C1C;
}

.button:hover{
    -fx-background-color: #1D1C1C;
}

#timerText {
    -fx-padding: 10 10 10 10;
    -fx-font: 13 Helvetica;
    -fx-fill: #ffffff;
}

#projectBox {
    -fx-background-color: #323232;
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#projectsSection {
    -fx-padding: 10 10 10 10;
}

#projectButton{
    -fx-font: 13 Helvetica;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #F25917;
    -fx-border-radius: 20 20 20 20;
}


#projectText {
    -fx-padding: 10 10 10 10;
    -fx-font: 13 Helvetica;
    -fx-fill: #FFFFFF;
}

#reportButton {
    -fx-font: 13 Helvetica;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #323232;
    -fx-fill: #ffffff;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-alignment: center-left;
}

#addButton {
    -fx-font: 13 Helvetica;
    -fx-text-fill: #ffffff;
    -fx-background-color: #F25917;
    -fx-border-radius: 30 30 30 30;
}

#addButton:hover {
    -fx-font: 13 Helvetica;
    -fx-text-fill: #ffffff;
    -fx-background-color: #f27800;
    -fx-border-radius: 30 30 30 30;
}

#addNew {
    -fx-padding: 10 10 10 10;
    -fx-font: 13 Helvetica;
    -fx-fill: #323232;
}

#reportBox {
    -fx-padding: 40 60 0 60;
}

#yourProjects {
    -fx-font: 16 Helvetica;
    -fx-text-fill: #323232;
}

#yourTags {
    -fx-font: 16 Helvetica;
    -fx-text-fill: #323232;
}

#reportSubBox {
    -fx-padding: 20 0 0 0;
}

#reportHBox {
    -fx-padding: 40 45 40 45;
}

#reportWindowButtons {
    -fx-font: 13 Helvetica;
    -fx-text-fill: #ffffff;
    -fx-background-color: #F25917;
    -fx-border-radius: 30 30 30 30;
}

#reportWindowButtons:hover {
    -fx-font: 13 Helvetica;
    -fx-text-fill: #ffffff;
    -fx-background-color: #f27800;
    -fx-border-radius: 30 30 30 30;
}

#back {
    -fx-font: 13 Helvetica;
    -fx-text-fill: #ffffff;
    -fx-background-color: #F25917;
    -fx-border-radius: 30 30 30 30;
}

#back:hover {
    -fx-font: 13 Helvetica;
    -fx-text-fill: #ffffff;
    -fx-background-color: #f27800;
    -fx-border-radius: 30 30 30 30;
}

#projectName {
    -fx-font: 18 Helvetica;
    -fx-text-fill: i
}

#projectText {
    -fx-font: 13 Helvetica;
    -fx-fill: #ffffff;
}

#tagName {
    -fx-font: 18 Helvetica;
    -fx-text-fill: i
}

#tagSubBox {
    -fx-padding: 20 0 0 0;
}

#tagBox {
    -fx-padding: 40 60 0 60;
}

#tagHBox {
    -fx-padding: 40 45 40 45;
}