.button {
    -fx-font: 14 Helvetica;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-color: #323232;
    -fx-text-fill: #CCCCCC;
}


.button:focused{
    -fx-focus-color: transparent;
    -fx-background-color: #1D1C1C;
}

.button:hover{
    -fx-background-color: #1D1C1C;
}

#timerText {
    -fx-padding: 10 10 10 10;
    -fx-font: 12 Helvetica;
    -fx-fill: #FFFFFF;
}

#projectBox {
    -fx-background-color: #323232;
    -fx-padding: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#projectsSection {
    -fx-padding: 10 10 10 10;
}

#projectButton{
    -fx-font: 12 Helvetica;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #F25917;
    -fx-border-radius: 20 20 20 20;
}

#projectText {
    -fx-padding: 10 10 10 10;
    -fx-font: 12 Helvetica;
    -fx-fill: #FFFFFF;
}